<%= render SectionComponent.new do %>
  <%= render PageTitleComponent.new(text: "Dashboard") %>
<% end %>

<%= render SectionComponent.new do %>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <%= link_to dashboard_history_path do %>
      <div class="group p-1.5 h-full bg-[#ff6961]">
        <div class="bg-[#ff8f89] p-4 h-full group-hover:bg-[#ff6961] transition duration-300 ease-in-out">
          <div class="h-32 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold text-white transition duration-300 ease-in-out"><%= @issues_read %></p>
          </div>
          <p class="text-xl font-bold text-white transition duration-300 ease-in-out">Issues read</p>
        </div>
      </div>
    <% end %>
    <%= link_to dashboard_collection_path do %>
      <div class="group p-1.5 h-full bg-[#47bcea]">
        <div class="bg-[#7bc3e0] p-4 h-full group-hover:bg-[#47bcea] transition duration-300 ease-in-out">
          <div class="h-32 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold text-white transition duration-300 ease-in-out"><%= @issues_collected %></p>
          </div>
          <p class="text-xl font-bold text-white transition duration-300 ease-in-out">Collected</p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <div class="flex justify-between items-center">
    <%= render ChipHeaderComponent.new(text: "Your deck") %>
    <a href="<%= deck_user_path(current_user) %>" class="underline">
      View all<i class="p-2 fa-solid fa-chevron-right"></i>
    </a>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 mb-6">
    <% @deck.each do |comic| %>
      <%= render ResourceTileComponent.new(
        resource: comic,
        resource_path: comic_path(comic)
      ) %>
    <% end %>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <div class="flex justify-between items-center">
    <%= render ChipHeaderComponent.new(text: "Your history") %>
    <a href="<%= dashboard_history_path %>" class="underline">
      View all<i class="p-2 fa-solid fa-chevron-right"></i>
    </a>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 mb-6">
    <% @issue_history.each do |issue_history| %>
      <%= render ResourceTileComponent.new(
        resource: issue_history.issue,
        resource_path: comic_issue_path(issue_history.issue, comic_id: issue_history.comic),
        read: true,
        collected: current_user.collection.include?(issue_history.issue)
      ) %>
    <% end %>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <%= render ChipHeaderComponent.new(text: "Last 30 days") %>
  <div class="mt-4" data-controller="history-chart" data-history-chart-data-value="<%= @chart_data.to_json %>" data-history-chart-type-value="bar">
    <canvas data-history-chart-target="canvas" class="w-full h-96"></canvas>
  </div>
<% end %>
