<%= render PageTitleComponent.new(text: "Dashboard") %>

<%= render SectionComponent.new do %>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <%= link_to dashboard_history_path do %>
      <div class="component-border rounded-4xl border-2 border-black bg-gray-100">
          <div class="h-32 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold transition duration-300 ease-in-out"><%= @issues_read %></p>
          </div>
          <p class="text-xl my-4 text-center font-bold transition duration-300 ease-in-out">Issues read</p>
      </div>
    <% end %>
    <%= link_to dashboard_collection_path do %>
      <div class="component-border rounded-4xl border-2 border-black bg-gray-100">
          <div class="h-32 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold transition duration-300 ease-in-out"><%= @issues_collected %></p>
          </div>
          <p class="text-xl my-4 text-center font-bold transition duration-300 ease-in-out">Collected</p>
      </div>
    <% end %>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <div class="flex justify-between items-center">
    <%= render ChipHeaderComponent.new(text: "Your deck") %>
    <a href="<%= deck_user_path(current_user) %>" class="underline whitespace-nowrap">
      View all<i class="p-2 fa-solid fa-chevron-right"></i>
    </a>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
    <% @deck.each do |comic| %>
      <%= render ResourceTileComponent.new(
            resource: comic,
            resource_path: comic_path(comic)
          ) %>
    <% end %>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <div class="flex justify-between items-center">
    <%= render ChipHeaderComponent.new(text: "Your history") %>
    <a href="<%= dashboard_history_path %>" class="underline whitespace-nowrap">
      View all<i class="p-2 fa-solid fa-chevron-right"></i>
    </a>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
    <% @issue_history.each do |issue_history| %>
      <%= render ResourceTileComponent.new(
            resource: issue_history.issue,
            resource_path: comic_issue_path(issue_history.issue, comic_id: issue_history.comic),
            read: true,
            collected: current_user.collection.include?(issue_history.issue)
          ) %>
    <% end %>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <%= render ChipHeaderComponent.new(text: "Last 14 days") %>
  <%= render BorderComponent.new do %>
    <div class="mt-4" data-controller="chart" data-chart-data-value="<%= @chart_data.to_json %>">
      <canvas data-chart-target="canvas" class="w-full h-96"></canvas>
    </div>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render ChipHeaderComponent.new(text: "Your Feed") %>
  <%= render "shared/activities", activities: @feed_activity, activities_load_more_path: dashboard_load_more_activities_path %>
<% end %>
