<div class="my-6">
  <div class="grid grid-cols-2 gap-4">
    <%= link_to dashboard_history_path do %>
      <div class="group p-1.5 rounded-lg h-full bg-[#ff6961]">
        <div class="bg-white rounded-lg p-4 h-full group-hover:bg-[#ff6961] transition duration-300 ease-in-out">
          <div class="h-32 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold text-[#ff6961] group-hover:text-white transition duration-300 ease-in-out"><%= @issues_read %></p>
          </div>
          <p class="text-xl font-bold text-[#ff6961] group-hover:text-white transition duration-300 ease-in-out">Issues read</p>
        </div>
      </div>
    <% end %>
    <%= link_to "#" do %>
      <div class="group p-1.5 rounded-lg h-full bg-[#47bcea]">
        <div class="bg-white rounded-lg p-4 h-full group-hover:bg-[#47bcea] transition duration-300 ease-in-out">
          <div class="h-32 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold text-[#47bcea] group-hover:text-white transition duration-300 ease-in-out">0</p>
          </div>
          <p class="text-xl font-bold text-[#47bcea] group-hover:text-white transition duration-300 ease-in-out">Collected</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="my-6">
  <div class="flex justify-between items-center">
    <%= render ChipHeaderComponent.new(text: "Your history") %>
    <a href="<%= dashboard_history_path %>" class="underline">
      View all<i class="p-2 fa-solid fa-chevron-right"></i>
    </a>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 mb-6">
    <% @issue_history.each do |issue_history| %>
      <%= render ResourceTileControlComponent.new(issue: issue_history.issue, user: current_user, read_at: issue_history.read_at) %>
    <% end %>
  </div>
  <%= render ChipHeaderComponent.new(text: "Last 15 days") %>
  <div data-controller="history-chart" data-history-chart-data-value="<%= @chart_data.to_json %>" data-history-chart-type-value="bar">
    <canvas data-history-chart-target="canvas" class="w-full h-64"></canvas>
  </div>
</div>
