<%= content_for :custom_header do %>
  <div class="p-12 bg-gradient-to-r from-primary to-secondary">
    <h1 class="font-bold text-4xl text-center">Sign Up</h1>
  </div>
<% end %>

<div class="my-6">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="flex flex-col gap-4 my-4">
      <%= render Forms::TextFieldComponent.new(form: f, field: :email, type: "email_field", autofocus: true, required: true) %>

      <%= render Forms::TextFieldComponent.new(form: f, field: :username, type: "text_field", required: true) %>

      <%= render Forms::TextFieldComponent.new(form: f, field: :password, type: "password_field", required: true) %>

      <%= render Forms::TextFieldComponent.new(form: f, field: :password_confirmation, type: "password_field", required: true) %>
    </div>

    <div class="flex gap-4">
      <%= render Forms::SubmitComponent.new(form: f, text: "Sign up") %>
      <%= render LinkComponent.new(text: "Log in instead", href: new_session_path(resource_name)) %>
    </div>
  <% end %>
</div>
