<div data-controller="remove-item"
     data-remove-item-url-value="<%= unread_comic_issue_path(@issue, comic_id: @comic.id) %>"
     data-remove-item-data-value="<%= {read_id: @read_issue.id}.to_json %>">
  <%= render BorderComponent.new do %>
    <div class="flex gap-4">
      <div class="h-16 w-16 min-w-[4rem] overflow-hidden rounded-2xl border-2 border-black">
        <img src="<%= @issue.image %>" class="w-full">
      </div>
      <div class="w-full">
        <%= link_to comic_issue_path(@issue, comic_id: @comic.id), data: {"turbo-frame": "_top"} do %>
          <small><%= @comic.name %></small>
          <p class="font-bold"><%= @issue.name %></p>
          <small>
            Read at:
            <span class="font-bold" data-controller="local-time" data-local-time-utc-value="<%= @read_issue.read_at %>"><%= @read_issue.read_at.strftime("%-d %b %H:%M") %></span>
          </small>
        <% end %>
      </div>
      <div>
        <i class="fa-solid fa-circle-xmark text-xl cursor-pointer" data-action="click->remove-item#trigger"></i>
      </div>
    </div>
    <%= render RemoveItemDialogComponent.new do %>
      <p>This action will <b>not</b> remove all history for this issue, only this specific one.</p>
    <% end %>
  <% end %>
</div>
