<%= link_to @resource_path, data: {"turbo-frame": "_top"} do %>
  <div class="w-[149px]">
    <div class="p-1.5 rounded-sm bg-primary mb-2">
      <div class="relative overflow-hidden h-[185px] rounded-sm">
        <img src="<%= @resource.image %>" alt="" />
        <% if @resource.respond_to?(:start_year) %>
          <div class="bg-primary px-2 py-1 text-xs font-bold absolute rounded inline-block bottom-2 right-2"><%= @resource.start_year %></div>
        <% elsif @resource.respond_to?(:formatted_issue_number) %>
          <div class="bg-primary px-2 py-1 text-xs font-bold absolute rounded inline-block bottom-2 right-2">#<%= @resource.formatted_issue_number %></div>
        <% end %>
      </div>
    </div>
    <small><%= @resource.name %></small>
  </div>
<% end %>
