<div class="component-border relative rounded-xl border-2 border-black w-[100%] pb-[100%] h-[0] overflow-hidden">
  <%= link_to comic_issue_path(@issue, comic_id: @comic.id), class: "group", data: {"turbo-frame": "_top"} do %>
    <img src="<%= @issue.image %>" alt="" class="w-full">
    <div class="z-10 absolute top-0 left-0 h-full w-full opacity-0 group-hover:opacity-100 bg-black/50 flex text-center items-center justify-center p-8 backdrop-blur-sm transition duration-300 ease-in-out">
      <b class="text-white"><%= @issue.name %><% if @issue.year.present? %> (<%= @issue.year %>)<% end %></b>
    </div>
  <% end %>
  <div class="bg-primary m-2 px-2 py-1 text-xs font-bold rounded-full inline-block absolute top-0 right-0">#<%= @issue.formatted_issue_number %></div>
  <% if @read_at.present? %>
    <div class="bg-primary m-2 px-2 py-1 text-xs font-bold rounded-full inline-block absolute bottom-10 left-0" data-controller="local-time" data-local-time-utc-value="<%= @read_at %>"><%= @read_at.strftime("%-d %b %H:%M") %></div>
  <% end %>
  <div class="absolute left-0 bottom-0 w-full z-10">
    <%= render Actions::ActionsComponent.new(resource: @issue, user: @user) %>
  </div>
</div>
