<%= render SectionComponent.new do %>
  <div class="px-4 py-6 md:px-6 md:py-12 lg:py-16 bg-gray-100 rounded-4xl border-2 border-black">
      <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl">
          Edit <%= @comic.name %> - <%= @issue.name %>
      </h1>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <%= form_with(model: @issue, url: comic_issue_path(@issue, comic_id: @comic)) do |form| %>
    <% if @issue.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

        <ul>
          <% @issue.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 my-4">
      <%= render Forms::TextFieldComponent.new(form:, field: :rating) %>

      <%= render Forms::TextFieldComponent.new(form:, field: :page_count, type: "number_field") %>

      <%= render Forms::TextFieldComponent.new(form:, field: :isbn, placeholder: "ISBN") %>

      <%= render Forms::TextFieldComponent.new(form:, field: :upc, placeholder: "UPC") %>
    </div>

    <div class="flex gap-4">
      <%= render Forms::SubmitComponent.new(form:, text: "Save") %>
      <%= render LinkComponent.new(text: "Cancel", href: comic_issue_path(@issue, comic_id: @comic)) %>
    </div>
  <% end %>
<% end %>
