<div class="rounded-4xl border-2 border-black overflow-hidden bg-cover bg-no-repeat" style="background-image: url('<%= @issue.image %>');">
  <div class="flex flex-col gap-4 p-[3rem] bg-black/60 backdrop-blur-md">
    <a href="<%= comic_path(@comic) %>" class="text-sm underline text-primary"><%= @comic.name %></a>
    <%= render PageTitleComponent.new(text: @issue.name) %>
    <p class="text-lg text-white"><b class="text-white">Issue:</b> #<%= @issue.formatted_issue_number %></p>
    <p class="text-lg text-white"><b class="text-white">Cover date:</b> <%= @issue.cover_date %></p>
    <% if @issue.store_date.present? %>
      <p class="text-lg text-white"><b class="text-white">Store date:</b> <%= @issue.store_date %></p>
    <% end %>

    <% if @issue.rating.present? %>
      <p class="text-lg text-white"><b class="text-white">Rating:</b> <%= @issue.rating %></p>
    <% end %>

    <% if @issue.cover_price.present? %>
      <p class="text-lg text-white"><b class="text-white">Cover Price:</b> <%= format_price(issue: @issue) %></p>
    <% end %>

    <% if @issue.page_count.present? %>
      <p class="text-lg text-white"><b class="text-white">Page Count:</b> <%= @issue.page_count %></p>
    <% end %>

    <% if @issue.isbn.present? %>
      <p class="text-lg text-white"><b class="text-white">ISBN:</b> <%= @issue.isbn %></p>
    <% end %>

    <% if @issue.upc.present? %>
      <p class="text-lg text-white"><b class="text-white">UPC:</b> <%= @issue.upc %></p>
    <% end %>
    <div class="flex gap-4">
      <a href="<%= @issue.site_detail_url %>" class="flex font-bold w-max rounded-full border-2 border-black text-sm bg-[#231f20] py-2 px-3" target="_blank" rel="noopener noreferrer">
        <p class="text-[#29cc82]">Comic</p><p class="text-[#f9e150]">Vine</p>
      </a>
      <%= link_to "Edit", edit_comic_issue_path(@issue, comic_id: @comic), class: "flex font-bold w-max rounded-full border-2 border-black text-sm bg-secondary py-2 px-3" %>
    </div>
  </div>
  <%= render Actions::ActionsComponent.new(resource: @issue, user: current_user) %>
</div>

<%= render SectionComponent.new do %>
  <%= render BorderComponent.new do %>
    <% if @issue.deck.present? %>
      <p class="font-bold text-xl mb-4"><%= @issue.deck %></p>
    <% end %>
    <div class="flex flex-col gap-2 resource-description">
      <%= safe_description(description: @issue.description) %>
    </div>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render ChipHeaderComponent.new(text: "Trend") %>
  <%= render BorderComponent.new do %>
    <div class="mt-4">
      <div class="mt-4" data-controller="chart" data-chart-data-value="<%= @chart_data.to_json %>">
        <canvas data-chart-target="canvas" class="w-full h-96"></canvas>
      </div>
    </div>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <p class="font-bold">Other issues:</p>
  <div class="flex gap-4 max-w-full overflow-auto my-4 pb-2">
    <% @comic.ordered_issues.each do |issue| %>
      <% classes = @issue == issue ? "font-bold" : "font-light" %>
      <a href="<%= comic_issue_path(issue, comic_id: @comic.id) %>" class="<%= classes %>">
        #<%= issue.formatted_issue_number %>
      </a>
    <% end %>
  </div>
<% end %>
