<%= render "header" %>

<%= render SectionComponent.new do %>
  <p class="font-bold">Other issues:</p>
  <div class="flex gap-4 max-w-full overflow-auto my-4 pb-2">
    <% @comic.ordered_issues.each do |issue| %>
      <% classes = (@issue == issue) ? "font-bold" : "font-light" %>
      <a href="<%= comic_issue_path(issue, comic_id: @comic.id) %>" class="<%= classes %>">
        #<%= issue.formatted_issue_number %>
      </a>
    <% end %>
  </div>
<% end %>

<%= render RatingSectionComponent.new(rating_presenter: @rating_presenter, reviews_path: reviews_comic_issue_path(@issue, comic_id: @comic)) %>

<%= render SectionComponent.new do %>
  <%= render BorderComponent.new do %>
    <% if @issue.deck.present? %>
      <p class="font-bold text-xl mb-4"><%= @issue.deck %></p>
    <% end %>
    <div class="flex flex-col gap-2 resource-description">
      <%= safe_description(description: @issue.description) %>
    </div>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render FullWidthComponent.new do %>
    <%= render ChipHeaderComponent.new(text: "Trend") %>
    <div class="mt-4">
      <div class="mt-4" data-controller="chart" data-chart-data-value="<%= @chart_data.to_json %>">
        <canvas data-chart-target="canvas" class="w-full h-96"></canvas>
      </div>
    </div>
  <% end %>
<% end %>
