<%# TODO: DRY this up a bit %>

<%= render UserHeroComponent.new(user: @user, current_user:, possessive: "#{year.humanize} Statistics") %>

<%= render SectionComponent.new do %>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="col-span-full">
      <%= render ChipHeaderComponent.new(text: "Issues read by publisher") %>
      <%= render BorderComponent.new do %>
        <div class="mt-4"
             data-controller="chart"
             data-chart-display-legend-value="true"
             data-chart-data-value="<%= @distinct_publisher_chart_data.to_json %>"
             data-chart-type-value="doughnut">
          <canvas data-chart-target="canvas" class="w-full h-96"></canvas>
        </div>
      <% end %>
    </div>

    <%= link_to history_user_path(@user) do %>
      <div class="component-border rounded-4xl border-2 border-black bg-gray-100">
          <div class="h-32 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold transition duration-300 ease-in-out"><%= read_count %></p>
          </div>
          <p class="text-xl my-4 text-center font-bold transition duration-300 ease-in-out">Issues read</p>
      </div>
    <% end %>
    <%= link_to collection_user_path(@user) do %>
      <div class="component-border rounded-4xl border-2 border-black bg-gray-100">
          <div class="h-32 flex flex-col justify-center items-center">
            <p class="text-4xl font-bold transition duration-300 ease-in-out"><%= collected_count %></p>
          </div>
          <p class="text-xl my-4 text-center font-bold transition duration-300 ease-in-out">Collected</p>
      </div>
    <% end %>

    <% first_read_issue = @user.first_read_issue(year:) %>
    <%= render BorderComponent.new do %>
      <div class="p-6 flex flex-col items-center">
        <% if first_read_issue.present? %>
          <h2 class="text-2xl font-bold mb-4">First read</h2>
          <img src="<%= first_read_issue.issue.image %>" alt="Comic Cover" width="150" height="200" class="aspect-[3/4] overflow-hidden rounded-lg object-cover">
          <h2 class="text-center text-2xl font-bold mt-4"><%= first_read_issue.issue.name %></h2>
          <div class="flex items-center gap-2 mt-2"><span class="text-sm text-gray-500">Read at: <b data-controller="local-time" data-local-time-utc-value="<%= first_read_issue.read_at %>"><%= first_read_issue.read_at.strftime("%-d %b %H:%M") %></b></span></div>
        <% else %>
          <h2 class="text-2xl font-bold mb-4">No issues read</h2>
        <% end %>
      </div>
    <% end %>

    <% first_collected_issue = @user.first_collected_issue(year:) %>
    <%= render BorderComponent.new do %>
      <div class="p-6 flex flex-col items-center">
        <% if first_collected_issue.present? %>
          <h2 class="text-2xl font-bold mb-4">First collected</h2>
          <img src="<%= first_collected_issue.issue.image %>" alt="Comic Cover" width="150" height="200" class="aspect-[3/4] overflow-hidden rounded-lg object-cover">
          <h2 class="text-center text-2xl font-bold mt-4"><%= first_collected_issue.issue.name %></h2>
          <div class="flex items-center gap-2 mt-2"><span class="text-sm text-gray-500">Collected on: <b><%= first_collected_issue.collected_on.strftime("%-d %b %Y") %></b></span></div>
        <% else %>
          <h2 class="text-2xl font-bold mb-4">No issues collected</h2>
        <% end %>
      </div>
    <% end %>

    <div class="col-span-full mt-6">
      <%= render ChipHeaderComponent.new(text: "Issues read and collected") %>
      <%= render BorderComponent.new do %>
        <div class="mt-4" data-controller="chart" data-chart-data-value="<%= @read_collect_chart_data.to_json %>">
          <canvas data-chart-target="canvas" class="w-full h-96"></canvas>
        </div>
      <% end %>
    </div>

    <div class="mt-6">
      <%= render ChipHeaderComponent.new(text: "Most read comics") %>
      <%= render BorderComponent.new do %>
        <% @most_activity_counts.read.each_with_index do |comic, index| %>
          <% if index > 0 %>
            <hr class="border-b-2 border-black my-4">
          <% end %>
          <%= link_to comic do %>
            <div class="flex flex-nowrap gap-4 items-center">
                <div class="w-16 h-16 min-w-16 rounded-2xl border-2 border-black 2xl bg-no-repeat bg-cover" style="background-image: url(<%= comic.image %>);"></div>
                <div class="w-full grid grid-cols-4 gap-4 justify-between">
                  <div class="col-span-3 max-w-full whitespace-nowrap overflow-hidden text-ellipsis">
                    <p class="font-bold"><%= comic.name %></p>
                  </div>
                  <p class="font-bold text-right"><%= comic.activity_count %></p>
                </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="mt-6">
      <%= render ChipHeaderComponent.new(text: "Most collected comics") %>
      <%= render BorderComponent.new do %>
        <% @most_activity_counts.collected.each_with_index do |comic, index| %>
          <% if index > 0 %>
            <hr class="border-b-2 border-black my-4">
          <% end %>
          <%= link_to comic  do %>
            <div class="flex flex-nowrap gap-4 items-center">
              <div class="w-16 h-16 min-w-16 rounded-2xl border-2 border-black 2xl bg-no-repeat bg-cover" style="background-image: url(<%= comic.image %>);"></div>
              <div class="w-full grid grid-cols-4 gap-4 justify-between">
                <div class="col-span-3 max-w-full whitespace-nowrap overflow-hidden text-ellipsis">
                  <p class="font-bold"><%= comic.name %></p>
                </div>
                <p class="font-bold text-right"><%= comic.activity_count %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
