<%= render SectionComponent.new do %>
  <div data-controller="search expand-all">
    <div class="flex flex-wrap justify-between mb-8">
      <input placeholder="Start typing to search..."
        data-action="search#trigger"
        class="form-control p-2 mb-8 sm:mb-0 w-full sm:w-1/2 rounded-lg border-2 border-black bg-gray-100 cursor-pointer focus:border-tangerine"
        autocomplete="off">
      <button data-action="expand-all#toggle" class="flex font-bold h-fit w-max rounded-full border-2 border-black text-sm bg-primary py-2 px-3">Expand all</button>
    </div>
    <% presenter.grouped_collection.each_pair do |comic, collected_issues| %>
      <div class="mb-4 text-sm sm:text-base relative rounded-lg border-2 border-black bg-gray-100 p-4 overflow-hidden"
           data-search-target="item"
           data-name="<%= comic.name %>">
        <details>
          <summary class="grid grid-cols-4 w-full outline-none cursor-pointer">
            <div class="col-span-2 flex items-center gap-4 whitespace-nowrap overflow-hidden">
              <div class="h-8 min-h-8 w-8 min-w-8 overflow-hidden rounded-lg border-2 border-black">
                <img src="<%= comic.image %>" class="w-full">
              </div>
              <p><b><%= comic.name %></b></p>
            </div>
            <div class="col-span-1 flex items-center justify-end">
              <p><%= display_if current_user == presenter.user, format_price(price: collected_issues.sum(&:price_paid), user: presenter.user) %></p>
            </div>
            <div class="col-span-1 flex items-center justify-end">
              <p><%= collected_issues.size %> / <%= comic.count_of_issues %></p>
            </div>
          </summary>
          <div class="flex flex-col gap-4 mt-4 pt-4 border-t-2 border-black">
            <% collected_issues.each do |collected_issue| %>
              <div data-controller="remove-item"
                data-remove-item-url-value="<%= uncollect_comic_issue_path(collected_issue.issue, comic_id: collected_issue.comic) %>">
                <div class="grid grid-cols-4 w-full">
                  <div class="col-span-2 whitespace-nowrap overflow-hidden">
                    <p><b>#<%= collected_issue.issue.formatted_issue_number %> - <%= collected_issue.issue.name %></b></p>
                    <p class="inline"><%= collected_issue.collected_on.strftime("%-d %b %Y") %></p>
                  </div>
                  <div class="col-span-1 flex items-center justify-end ml-4">
                    <p><%= display_if current_user == presenter.user, format_price(price: collected_issue.price_paid, user: presenter.user) %></p>
                  </div>
                  <div class="col-span-1 flex items-center justify-end gap-4 ml-4">
                    <% if current_user == presenter.user %>
                      <i class="fa-solid fa-pen-nib text-xl cursor-pointer toggleEditor<%= collected_issue.id %>"></i>
                      <dialog data-controller="dialog"
                              data-action="click->dialog#click"
                              data-dialog-target="dialog"
                              data-dialog-toggler-class-value="toggleEditor<%= collected_issue.id %>"
                              class="open:flex open:p-0 open:bg-transparent open:flex-col open:gap-4 backdrop:backdrop-blur-sm">
                        <div class="rounded-xl border-2 border-black bg-gray-100 p-4">
                          <div class="m-4">
                            <h5 class="text-xl font-bold">Update details for <%= collected_issue.issue.name %></h1>
                            <div class="my-4 flex flex-col gap-4">
                              <%= form_with(model: collected_issue) do |form| %>
                                <div class="flex flex-col gap-4 my-4">
                                  <%= form.date_field :collected_on, class: "form-control p-2 w-full rounded-md border-2 border-primary bg-gray-100 cursor-pointer focus:border-tangerine" %>

                                  <div>
                                    <label for="pricePaid<%= collected_issue.id %>">Price paid (optional):</label>
                                    <%= form.number_field :price_paid, id: "pricePaid#{collected_issue.id}", class: "form-control p-2 w-full rounded-md border-2 border-primary bg-gray-100 cursor-pointer focus:border-tangerine" %>
                                  </div>

                                  <%= render Forms::SubmitComponent.new(form:, text: "Save") %>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </dialog>
                      <i class="fa-solid fa-circle-xmark text-xl cursor-pointer" data-action="click->remove-item#trigger"></i>
                    <% end %>
                  </div>
                </div>
                <%= render RemoveItemDialogComponent.new do %>
                  <p>This action will remove this issue from your collection.</p>
                <% end %>
              </div>
            <% end %>
          </div>
        </details>
      </div>
    <% end %>
  </div>
  <div class="mb-4 relative rounded-lg border-2 border-black bg-gray-100 p-4 overflow-hidden h-16">
    <div class="grid grid-cols-4 w-full h-full outline-none">
      <div class="col-span-2 h-full flex items-center gap-4 whitespace-nowrap overflow-hidden">
        <p><b>Totals</b></p>
      </div>
      <div class="col-span-1 h-full flex items-center justify-end">
        <p><%= display_if current_user == presenter.user, format_price(price: presenter.total_price_paid, user: presenter.user) %></p>
      </div>
      <div class="col-span-1 h-full flex items-center justify-end">
        <p><%= presenter.overall_collection_progress %></p>
      </div>
    </div>
  </div>
<% end %>
