<%= render SectionComponent.new do %>
  <div class="relative rounded-sm border-4 border-primary">
    <div class="absolute top-0 bottom-0 w-full h-full z-[-10] bg-stripes"></div>
    <div class="flex flex-wrap gap-[3rem] items-center p-[3rem]">
      <img src="<%= @user.avatar %>" alt="Profile Image" class="rounded-full border-4 border-secondary">
      <%= render PageTitleComponent.new(text: "#{@user.username}'s Collection") %>
    </div>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <% @collection_grouped.each_pair do |day, items| %>
    <div class="my-6">
      <p class="my-4 text-2xl font-bold"><%= day %></p>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
        <% items.each do |item| %>
          <%= render ResourceTileControlComponent.new(issue: item.issue, user: current_user, read_at: nil) %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @collection %>
<% end %>
