<%= render SectionComponent.new do %>
  <%= render UserHeroComponent.new(user: @user, current_user:, possessive: "Deck") %>
<% end %>

<%= render SectionComponent.new do %>
  <div class="my-6">
    <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <% @deck.each do |comic| %>
        <%= render ResourceTileComponent.new(resource: comic, resource_path: comic_path(comic)) %>
      <% end %>
    </div>
  </div>
  <%= will_paginate @deck, previous_label: "« Prev", next_label: "Next »", inner_window: 1, outer_window: 0 %>
<% end %>
