<%= render SectionComponent.new do %>
  <%= render UserHeroComponent.new(user: @user, current_user:, possessive: "History") %>
<% end %>

<%= render SectionComponent.new do %>
  <% @issue_history_grouped.each_pair do |day, history| %>
    <div class="my-6">
      <p class="my-4 text-2xl font-bold"><%= day %></p>
      <% if @user == current_user %>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <% history.each do |issue_history| %>
            <%= render HistoryItemComponent.new(read_issue: issue_history) %>
          <% end %>
        </div>
      <% else %>
        <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
          <% history.each do |issue_history| %>
            <%= render ResourceTileControlComponent.new(issue: issue_history.issue, user: current_user) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= will_paginate @issue_history, previous_label: "« Prev", next_label: "Next »", inner_window: 1, outer_window: 0 %>
<% end %>
