<%= render SectionComponent.new do %>
  <div class="relative rounded-sm border-4 border-primary">
    <div class="absolute top-0 bottom-0 w-full h-full z-[-10] bg-stripes"></div>
    <div class="flex flex-wrap gap-[3rem] items-center p-[3rem]">
      <img src="<%= @user.avatar %>" alt="Profile Image" class="rounded-full border-4 border-secondary">
      <%= render PageTitleComponent.new(text: "#{@user.username}'s History") %>
    </div>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <% @issue_history_grouped.each_pair do |day, history| %>
    <div class="my-6">
      <p class="my-4 text-2xl font-bold"><%= day %></p>
      <% if @user == current_user %>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <% history.each do |issue_history| %>
            <%= render HistoryItemComponent.new(read_issue: issue_history) %>
          <% end %>
        </div>
      <% else %>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
          <% history.each do |issue_history| %>
            <%= render ResourceTileControlComponent.new(issue: issue_history.issue, user: current_user, read_at: issue_history.read_at) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= paginate @issue_history %>
<% end %>
