<%= render SectionComponent.new do %>
  <%= render UserHeroComponent.new(user: @user) %>
<% end %>

<% if @history.any? %>
  <%= render SectionComponent.new do %>
    <div class="flex justify-between items-center">
      <%= render ChipHeaderComponent.new(text: "History") %>
      <a href="<%= history_user_path(@user) %>" class="underline">
        View all<i class="p-2 fa-solid fa-chevron-right"></i>
      </a>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
      <% @history.each do |history| %>
        <%= render ResourceTileComponent.new(resource: history.issue, resource_path: comic_issue_path(history.issue, comic_id: history.comic), read: true) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @deck.any? %>
  <%= render SectionComponent.new do %>
    <div class="flex justify-between items-center">
      <%= render ChipHeaderComponent.new(text: "Deck") %>
      <a href="<%= deck_user_path(@user) %>" class="underline">
        View all<i class="p-2 fa-solid fa-chevron-right"></i>
      </a>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
      <% @deck.each do |comic| %>
        <%= render ResourceTileComponent.new(resource: comic, resource_path: comic_path(comic)) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @favourite_comics.any? %>
  <%= render SectionComponent.new do %>
    <div class="flex justify-between items-center">
      <%= render ChipHeaderComponent.new(text: "Favourite Comics") %>
      <a href="<%= favourites_user_path(@user) %>" class="underline">
        View all<i class="p-2 fa-solid fa-chevron-right"></i>
      </a>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
      <% @favourite_comics.each do |comic| %>
        <%= render ResourceTileComponent.new(resource: comic, resource_path: comic_path(comic)) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @completed_comics.any? %>
  <%= render SectionComponent.new do %>
    <div class="flex justify-between items-center">
      <%= render ChipHeaderComponent.new(text: "Completed Comics") %>
      <a href="<%= completed_user_path(@user) %>" class="underline">
        View all<i class="p-2 fa-solid fa-chevron-right"></i>
      </a>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
      <% @completed_comics.each do |comic| %>
        <%= render ResourceTileComponent.new(resource: comic, resource_path: comic_path(comic), read: true) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @collection.any? %>
  <%= render SectionComponent.new do %>
    <div class="flex justify-between items-center">
      <%= render ChipHeaderComponent.new(text: "Collection") %>
      <a href="<%= collection_user_path(@user) %>" class="underline">
        View all<i class="p-2 fa-solid fa-chevron-right"></i>
      </a>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
      <% @collection.each do |collected| %>
        <%= render ResourceTileComponent.new(resource: collected.issue, resource_path: comic_issue_path(collected.issue, comic_id: collected.comic), collected: true) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @wishlisted.any? %>
  <%= render SectionComponent.new do %>
    <div class="flex justify-between items-center">
      <%= render ChipHeaderComponent.new(text: "Wishlist") %>
      <a href="<%= wishlist_user_path(@user) %>" class="underline">
        View all<i class="p-2 fa-solid fa-chevron-right"></i>
      </a>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
      <% @wishlisted.each do |comic| %>
        <%= render ResourceTileComponent.new(resource: comic, resource_path: comic_path(comic), wishlisted: true) %>
      <% end %>
    </div>
  <% end %>
<% end %>
