<%= render SectionComponent.new do %>
  <%= render UserHeroComponent.new(user: @user) %>
<% end %>

<%= render SectionComponent.new do %>
    <div class="my-6">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
        <% @wishlist.each do |item| %>
          <% resource = item.wishlistable%>
          <% resource_path = resource.is_a?(Comic) ? comic_path(resource) : comic_issue_path(resource, comic_id: resource.comic) %>
          <%= render ResourceTileComponent.new(resource:, resource_path:) %>
        <% end %>
      </div>
    </div>
  <%= paginate @wishlist %>
<% end %>
