<div id="<%= dom_id comic %>">
  <p>
    <strong>Aliases:</strong>
    <%= comic.aliases %>
  </p>

  <p>
    <strong>Api detail url:</strong>
    <%= comic.api_detail_url %>
  </p>

  <p>
    <strong>Issue count:</strong>
    <%= comic.issue_count %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= comic.summary %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= comic.description %>
  </p>

  <p>
    <strong>Cv:</strong>
    <%= comic.cv_id %>
  </p>

  <p>
    <strong>Cover image:</strong>
    <%= comic.cover_image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= comic.name %>
  </p>

  <p>
    <strong>Start year:</strong>
    <%= comic.start_year %>
  </p>

</div>
