<%= form_with(model: comic) do |form| %>
  <% if comic.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
        <% comic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :aliases, style: "display: block" %>
    <%= form.text_field :aliases %>
  </div>

  <div>
    <%= form.label :api_detail_url, style: "display: block" %>
    <%= form.text_field :api_detail_url %>
  </div>

  <div>
    <%= form.label :issue_count, style: "display: block" %>
    <%= form.number_field :issue_count %>
  </div>

  <div>
    <%= form.label :summary, style: "display: block" %>
    <%= form.text_field :summary %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :cv_id, style: "display: block" %>
    <%= form.number_field :cv_id %>
  </div>

  <div>
    <%= form.label :cover_image, style: "display: block" %>
    <%= form.text_field :cover_image %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :start_year, style: "display: block" %>
    <%= form.number_field :start_year %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
