<div class="my-6">
  <div class="mb-4">
    <form action="<%= comics_path %>" method="get" data-turbo-frame="search">
      <%= render TextInputComponent.new(name: "search") %>
    </form>
  </div>

  <%= turbo_frame_tag "search" do %>
    <% if @search.present? %>
      <div class="mb-4 search">
        <%= render ChipHeaderComponent.new(text: "Results for #{@search}") %>
        <div class="flex flex-wrap gap-2">
          <% @search_results.each do |comic| %>
            <%= render ResourcePosterComponent.new(resource: comic, resource_path: comic_path(comic)) %>
          <% end %>
        </div>
        <small class="font-bold">Can't find the comic you're looking for? <button onclick="importComic.showModal();" class="text-hint underline">Import it.</button></small>
      </div>
    <% end %>
  <% end %>

  <div class="mb-4">
    <%= render ChipHeaderComponent.new(text: "Trending Comics") %>
    <%= render GradientBorderComponent.new do %>
      <div class="swiper" data-controller="swiper" data-swiper-target="container">
        <div class="swiper-wrapper">
          <% @trending.each_with_index do |comic, index| %>
            <div class="swiper-slide sm:px-16 !w-full !h-full">
              <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="col-span-1 flex justify-center">
                  <img src="<%= comic.image %>" alt="" class="max-h-[500px] min-h-[100%] rounded-lg">
                </div>
                <div class="col-span-1 flex flex-col gap-4 md:col-span-2">
                  <p class="text-2xl font-bold underline decoration-primary decoration-[7px]">#<%= index + 1 %></p>
                  <p class="text-4xl font-bold"><%= comic.name %></p>
                  <div class="max-h-[190px] overflow-hidden">
                    <p><%= strip_description(description: comic.description) %></p>
                  </div>
                  <%= render LinkComponent.new(text: "View", href: comic_path(comic)) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="swiper-pagination" data-swiper-target="pagination"></div>
        <div class="swiper-button-prev" data-swiper-target="prev"></div>
        <div class="swiper-button-next" data-swiper-target="next"></div>
      </div>
    <% end %>
  </div>

  <div class="mb-4">
    <%= render ChipHeaderComponent.new(text: "Recently Updated Comics") %>
    <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <% @recently_updated.each do |comic| %>
        <%= link_to comic_path(comic), data: {"turbo-frame": "_top"} do %>
          <div class="p-1.5 rounded-lg bg-gradient-to-r from-primary to-secondary">
            <div class="w-[100%] pb-[100%] h-[0] overflow-hidden rounded-lg">
              <img src="<%= comic.image %>" alt="" class="w-full" />
            </div>
          </div>
          <small class="font-bold"><%= comic.name %></small>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-4">
    <%= render ChipHeaderComponent.new(text: "Trending Issues") %>
    <%= render GradientBorderComponent.new do %>
      <div class="swiper" data-controller="swiper" data-swiper-target="container">
        <div class="swiper-wrapper">
          <% @trending_issues.each do |issue| %>
            <div class="swiper-slide sm:px-16 !w-full !h-full">
              <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="col-span-1 flex flex-col gap-4 md:col-span-2">
                  <p class="text-2xl font-bold underline decoration-primary decoration-[7px]">#<%= issue.formatted_issue_number %> - <%= issue.comic.name %></p>
                  <p class="text-4xl font-bold"><%= issue.name %></p>
                  <div class="max-h-[190px] overflow-hidden">
                    <p><%= strip_description(description: issue.description) %></p>
                  </div>
                  <%= render LinkComponent.new(text: "View", href: comic_issue_path(issue, comic_id: issue.comic.id)) %>
                </div>
                <div class="col-span-1 order-first md:order-none flex justify-center">
                  <img src="<%= issue.image %>" alt="" class="max-h-[500px] min-h-[100%] rounded-lg">
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="swiper-pagination" data-swiper-target="pagination"></div>
        <div class="swiper-button-prev" data-swiper-target="prev"></div>
        <div class="swiper-button-next" data-swiper-target="next"></div>
      </div>
    <% end %>
  </div>

  <div class="mb-4">
    <%= render ChipHeaderComponent.new(text: "Recently Updated Issues") %>
    <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <% @recently_updated_issues.each do |issue| %>
        <%= link_to comic_issue_path(issue, comic_id: issue.comic.id), data: {"turbo-frame": "_top"} do %>
          <div class="p-1.5 rounded-lg bg-gradient-to-r from-primary to-secondary">
            <div class="w-[100%] pb-[100%] h-[0] overflow-hidden rounded-lg">
              <img src="<%= issue.image %>" alt="" class="w-full" />
            </div>
          </div>
          <small class="font-bold"><%= issue.name %></small>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
