<div class="my-6">
  <div class="mb-4">
    <form action="<%= comics_path %>" method="get" data-turbo-frame="search">
      <%= render TextInputComponent.new(name: "search") %>
    </form>
  </div>

  <%= turbo_frame_tag "search" do %>
    <% if @search.present? %>
      <div class="mb-4 search">
        <%= render ChipHeaderComponent.new(text: "Results for #{@search}") %>
        <div class="flex flex-wrap gap-2">
          <% @search_results.each do |comic| %>
            <%= render ResourcePosterComponent.new(resource: comic, resource_path: comic_path(comic)) %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="mb-4">
    <%= render ChipHeaderComponent.new(text: "Recently Updated Comics") %>
    <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <% @recently_updated.each do |comic| %>
        <%= link_to comic_path(comic), data: {"turbo-frame": "_top"} do %>
          <div class="p-1.5 rounded-lg bg-gradient-to-r from-primary to-secondary">
            <div class="w-[100%] pb-[100%] h-[0] overflow-hidden rounded-lg">
              <img src="<%= comic.image %>" alt="" class="w-full" />
            </div>
          </div>
          <small class="font-bold"><%= comic.name %></small>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-4">
    <%= render ChipHeaderComponent.new(text: "Trending Comics") %>
  </div>

  <!-- TODO: Make this look better -->
  <%= form_tag(import_comics_path, method: "post") do |form| %>
    <%= render TextInputComponent.new(name: "cv_id") %>

    <%= submit_tag "Import", class: "inline-block py-1.5 px-3 bg-primary rounded-md text-white border-2 border-primary hover:bg-secondary hover:text-primary cursor-pointer transition duration-300 ease-in-out" %>
  <% end %>
</div>
