<%= render PageTitleComponent.new(text: "Discover") %>

<form action="<%= comics_path %>" method="get" data-turbo-frame="search">
  <div class="component-border bg-gray-100 w-full flex rounded-full border-2 border-black">
    <input placeholder="Search" class="rounded-full w-full bg-transparent p-4 focus:outline-none" required="required" type="input" name="search" id="searchField">
    <button type="submit" class="p-4"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
</form>

<%= render SectionComponent.new do %>
  <%= turbo_frame_tag "search" do %>
    <% if @search.present? %>
      <div class="mb-8 search">
        <%= render ChipHeaderComponent.new(text: "Results for #{@search}") %>
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
          <% @search_results.each do |comic| %>
            <%= render ResourceTileComponent.new(
              resource: comic,
              resource_path: comic_path(comic),
              wishlisted: current_user&.wishlisted_comics&.include?(comic),
              favourited: current_user&.favourited_comics&.include?(comic)
            ) %>
          <% end %>
        </div>
        <small class="font-bold">Can't find the comic you're looking for? <button onclick="importComic.showModal();" class="text-hint underline">Import it.</button></small>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render ChipHeaderComponent.new(text: "Genres") %>
  <div class="swiper relative" data-controller="swiper" data-swiper-free-mode-value="true" data-swiper-target="container">
    <div class="swiper-wrapper">
      <% Genre.order(:name).each do |genre| %>
        <div class="swiper-slide w-fit pb-4 pr-2">
          <%= render GenreChipComponent.new(genre:) %>
        </div>
      <% end %>
    </div>
    <div class="z-10 h-full w-24 absolute right-0 top-0 bg-gradient-to-r from-transparent to-[#fcf3e5] pointer-events-none"></div>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <div class="mb-8">
    <%= render ChipHeaderComponent.new(text: "Trending Comics") %>
    <%= render BorderComponent.new do %>
      <div class="swiper" data-controller="swiper" data-swiper-target="container">
        <div class="swiper-wrapper">
          <% @trending.each_with_index do |comic, index| %>
            <div data-swiper-target="slides" class="relative swiper-slide sm:p-16 !w-full !h-auto border-2 border-black rounded-2xl bg-no-repeat bg-cover overflow-hidden" style="background-image: url(<%= comic.image %>);">
              <div class="flex flex-col gap-4 md:col-span-2 p-4">
                <p class="text-xl text-white sm:text-2xl font-bold underline decoration-primary decoration-[7px]">#<%= index + 1 %></p>
                <a href="<%= comic_path(comic) %>" class="text-2xl sm:text-4xl text-white font-bold"><%= comic.name %></a>
                <div class="max-h-[190px] overflow-hidden">
                  <p class="text-white"><%= strip_description(description: comic.description) %></p>
                </div>
                <%= render LinkComponent.new(text: "View", href: comic_path(comic)) %>
              </div>
              <div class="z-[-1] absolute left-0 top-0 w-full h-full bg-black/50 backdrop-blur-md"></div>
            </div>
          <% end %>
        </div>
        <div class="swiper-pagination" data-swiper-target="pagination"></div>
        <div class="swiper-button-prev hidden sm:flex" data-swiper-target="prev"></div>
        <div class="swiper-button-next hidden sm:flex" data-swiper-target="next"></div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <div class="mb-8">
    <%= render ChipHeaderComponent.new(text: "Recently Updated Comics") %>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
      <% @recently_updated.each do |comic| %>
        <%= render ResourceTileComponent.new(
          resource: comic,
          resource_path: comic_path(comic),
          wishlisted: current_user&.wishlisted_comics&.include?(comic),
          favourited: current_user&.favourited_comics&.include?(comic)
        ) %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <div class="mb-8">
    <%= render ChipHeaderComponent.new(text: "Trending Issues") %>
    <%= render BorderComponent.new do %>
      <div class="swiper" data-controller="swiper" data-swiper-target="container">
        <div class="swiper-wrapper">
          <% @trending_issues.each do |issue| %>
            <div data-swiper-target="slides" class="relative swiper-slide sm:p-16 !w-full !h-auto border-2 border-black rounded-2xl bg-no-repeat bg-cover overflow-hidden" style="background-image: url(<%= issue.image %>);">
              <div class="flex flex-col gap-4 md:col-span-2 p-4">
                <p class="text-xl text-white sm:text-2xl font-bold underline decoration-primary decoration-[7px]">#<%= issue.formatted_issue_number %></p>
                <a href="<%= comic_issue_path(issue, comic_id: issue.comic) %>" class="text-2xl sm:text-4xl text-white font-bold"><%= issue.name %></a>
                <div class="max-h-[190px] overflow-hidden">
                  <p class="text-white"><%= strip_description(description: issue.description) %></p>
                </div>
                <%= render LinkComponent.new(text: "View", href: comic_issue_path(issue, comic_id: issue.comic)) %>
              </div>
              <div class="z-[-1] absolute left-0 top-0 w-full h-full bg-black/50 backdrop-blur-md"></div>
            </div>
          <% end %>
        </div>
        <div class="swiper-pagination" data-swiper-target="pagination"></div>
        <div class="swiper-button-prev hidden sm:flex" data-swiper-target="prev"></div>
        <div class="swiper-button-next hidden sm:flex" data-swiper-target="next"></div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render SectionComponent.new do %>
  <div class="mb-8">
    <%= render ChipHeaderComponent.new(text: "Recently Updated Issues") %>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
      <% @recently_updated_issues.each do |issue| %>
        <%= render ResourceTileComponent.new(
          resource: issue,
          resource_path: comic_issue_path(issue, comic_id: issue.comic.id),
          read: current_user&.issues_read&.include?(issue),
          collected: current_user&.collection&.include?(issue),
          wishlisted: current_user&.wishlisted_issues&.include?(issue),
          favourited: current_user&.favourited_issues&.include?(issue)
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
