<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">

<%= render SectionComponent.new do %>
  <div class="rounded-sm bg-cover bg-no-repeat" style="background-image: url('<%= @comic.image %>');">
    <div class="flex flex-col gap-4 p-[3rem] bg-black/60 backdrop-blur-md">
      <%= render PageTitleComponent.new(text: @comic.name) %>
      <p class="text-lg text-white"><b class="text-white">Start year:</b> <%= @comic.start_year %></p>
      <p class="text-lg text-white"><b class="text-white">Publisher:</b> <%= @comic.publisher %></p>
      <p class="text-lg text-white"><b class="text-white">Issue count:</b> <%= @comic.count_of_issues %></p>
      <a href="<%= @comic.site_detail_url %>" class="flex font-bold w-max rounded-md text-xs bg-[#231f20] py-2 px-3" target="_blank" rel="noopener noreferrer">
        <p class="text-[#29cc82]">Comic</p><p class="text-[#f9e150]">Vine</p>
      </a>
    </div>
  </div>
  <%= render Actions::ActionsComponent.new(resource: @comic, user: current_user) %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render BorderComponent.new do %>
    <% if @comic.deck.present? %>
      <p class="font-bold text-xl mb-4"><%= @comic.deck %></p>
    <% end %>
    <div class="flex flex-col gap-2 resource-description">
      <%= safe_description(description: @comic.description) %>
    </div>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render BorderComponent.new do %>
    <h3 class="font-bold text-xl cursor-pointer">Trend</h3>
    <div class="mt-4">
      <div class="mt-4" data-controller="history-chart" data-history-chart-data-value="<%= @chart_data.to_json %>" data-history-chart-type-value="bar">
        <canvas data-history-chart-target="canvas" class="w-full h-64"></canvas>
      </div>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= render SectionComponent.new do %>
    <%= render BorderComponent.new do %>
      <details>
        <summary class="font-bold text-xl cursor-pointer">Batch read issues</summary>
        <div class="mt-4">
          <p>If you've read a lot of issues for this comic, you can mark a range of them as read. Choose the issues you want to mark with the slider and click submit!</p>
          <p>Note: This sets all the read dates for issues to the time of submission.</p>
          <div data-controller="read-range"
              data-read-range-chapter-count-value="<%= @comic.count_of_issues %>"
              data-read-range-url-value="<%= read_range_comic_path(@comic) %>">
            <div data-read-range-target="slider" class="mb-8 mt-16 mx-6" id="slider-round"></div>
            <button data-read-range-target="submit" data-action="click->read-range#submit" class="inline-block py-1.5 px-3 bg-primary rounded-sm text-white border-2 border-primary cursor-pointer">
              Submit
            </button>
          </div>
        </div>
      </details>
    <% end %>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render ChipHeaderComponent.new(text: "Issues") %>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
    <% @ordered_issues.each do |issue| %>
      <%= render ResourceTileControlComponent.new(issue:, user: current_user, read_at: nil) %>
    <% end %>
  </div>
  <%= paginate @ordered_issues %>
<% end %>
