<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">

<%= render "header" %>

<% if @comic.genres.any? %>
  <%= render SectionComponent.new do %>
    <%= render "genres", genres: @comic.genres %>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render BorderComponent.new do %>
    <% if @comic.deck.present? %>
      <p class="font-bold text-xl mb-4"><%= @comic.deck %></p>
    <% end %>
    <div class="flex flex-col gap-2 resource-description">
      <%= safe_description(description: @comic.description).presence || "There is no description for this comic yet. Head over to ComicVine and add one!" %>
    </div>
  <% end %>
<% end %>

<%= render RatingSectionComponent.new(rating_presenter: @rating_presenter, reviews_path: reviews_comic_path(@comic)) %>

<% if user_signed_in? && @ordered_issues.any? %>
  <%= render SectionComponent.new do %>
    <%= render BorderComponent.new do %>
      <details>
        <summary class="font-bold text-xl cursor-pointer">Batch read issues</summary>
        <div class="mt-4">
          <p>If you've read a lot of issues for this comic, you can mark a range of them as read. Choose the issues you want to mark with the slider and click submit!</p>
          <p>Note: This sets all the read dates for issues to the time of submission.</p>
          <div data-controller="read-range"
              data-read-range-chapter-count-value="<%= @comic.count_of_issues %>"
              data-read-range-url-value="<%= read_range_comic_path(@comic) %>">
            <div data-read-range-target="slider" class="mb-8 mt-16 mx-6" id="slider-round"></div>
            <button data-read-range-target="submit" data-action="click->read-range#submit" class="font-bold rounded-full border-2 border-black inline-block py-1.5 px-3 bg-primary-light cursor-pointer hover:bg-primary transition duration-300 ease-in-out">
              Submit
            </button>
          </div>
        </div>
      </details>
    <% end %>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render ChipHeaderComponent.new(text: "Issues") %>
  <% if @ordered_issues.any? %>
    <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <% @ordered_issues.each do |issue| %>
        <%= render ResourceTileControlComponent.new(issue:, user: current_user) %>
      <% end %>
    </div>
  <% else %>
    <div>No issues have been released yet!</div>
  <% end %>

  <%= will_paginate @ordered_issues, previous_label: "« Prev", next_label: "Next »", inner_window: 1, outer_window: 0 %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render FullWidthComponent.new do %>
    <%= render ChipHeaderComponent.new(text: "Trend") %>
    <div class="mt-4">
      <div class="mt-4" data-controller="chart" data-chart-data-value="<%= @chart_data.to_json %>">
        <canvas data-chart-target="canvas" class="w-full h-96"></canvas>
      </div>
    </div>
  <% end %>
<% end %>
