<div class="my-6">
  <div class="grid grid-cols-1 sm:grid-cols-3">
    <div class="col-span-1">
      <%= render partial: "sidebar", locals: {comic: @comic} %>
    </div>
    <div class="col-span-1 sm:col-span-2">
      <%= render ChipHeaderComponent.new(text: "#{@comic.name}") %>
      <div class="flex flex-col gap-4 mb-4">
        <%= render GradientBorderComponent.new do %>
          <div class="flex flex-wrap justify-around">
            <div class="p-4 flex flex-col text-center w-auto">
              <p class="font-bold">Start Year:</p>
              <p><%= @comic.start_year %></p>
            </div>
            <div class="p-4 flex flex-col text-center w-auto">
              <p class="font-bold">Publisher:</p>
              <p><%= @comic.publisher %></p>
            </div>
            <div class="p-4 flex flex-col text-center w-auto">
              <p class="font-bold">Issues:</p>
              <p><%= @comic.count_of_issues %></p>
            </div>
          </div>
        <% end %>
        <%= render GradientBorderComponent.new do %>
          <% if @comic.deck.present? %>
            <p class="font-bold text-xl mb-4"><%= @comic.deck %></p>
          <% end %>
          <div class="flex flex-col gap-2 resource-description">
            <%= safe_description(description: @comic.description) %>
          </div>
        <% end %>
      </div>
      <%= render ChipHeaderComponent.new(text: "Issues") %>
      <div class="flex flex-wrap gap-2">
        <% @comic.ordered_issues.each do |issue| %>
          <%= render ResourcePosterComponent.new(resource: issue, resource_path: comic_issue_path(issue, comic_id: @comic.id)) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
