<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css">

<div class="w-full-header border-b-2 border-black bg-gray-100 overflow-hidden">
  <div class="px-4 py-6 md:px-6 md:py-12 lg:py-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start max-w-6xl mx-auto">
      <div class="overflow-hidden max-w-[300px] mx-auto lg:mx-0">
        <img src="<%= @comic.image %>" alt="Comic cover image" width="300" height="420" class="object-cover aspect-[5/7] rounded-2xl border-2 border-black">
      </div>
      <article class="prose prose-gray dark:prose-invert md:ml-[30px]">
        <div class="space-y-2 not-prose mb-4">
          <h1 class="text-2xl font-extrabold lg:text-5xl tracking-wide uppercase">
              <%= @comic.name %>
          </h1>
          <div class="flex flex-wrap gap-4">
              <p class="text-gray-500 dark:text-gray-400">Started in <%= @comic.start_year.presence || "unknown" %></p>
              <p class="text-gray-500 dark:text-gray-400">Published by <%= @comic.publisher.presence || "unknown" %></p>
              <p class="text-gray-500 dark:text-gray-400"><%= @comic.count_of_issues %> issues</p>
              <% if @comic.comic_type.present? %>
                <p class="text-gray-500 dark:text-gray-400"><%= @comic.comic_type %></p>
              <% end %>
          </div>
        </div>
        <div class="flex gap-4 flex-wrap mb-4">
          <a href="<%= @comic.site_detail_url %>" class="flex font-bold w-max rounded-full border-2 border-black text-sm bg-[#231f20] py-2 px-3" target="_blank" rel="noopener noreferrer">
            <p class="text-[#29cc82]">Comic</p><p class="text-[#f9e150]">Vine</p>
          </a>
          <%= button_to "Refresh", refresh_comic_path(@comic), method: :post, class: "flex font-bold w-max rounded-full border-2 border-black text-sm bg-primary py-2 px-3" %>
          <%= link_to "Edit", edit_comic_path(@comic), class: "flex font-bold w-max rounded-full border-2 border-black text-sm bg-secondary py-2 px-3" %>
          <% if @comic.country %>
            <span class="flex font-bold w-max rounded-full border-2 text-sm bg-gray-100 py-2 px-3"
                  style="border-color: <%= @comic.country.colour %>; color: <%= @comic.country.colour %>;"
                  title="<%= @comic.country.name %>">
              <%= @comic.country.language_code.upcase %>
            </span>
          <% end %>
        </div>
        <%= render StarRatingComponent.new(current_user:, rate_url: rate_comic_path(@comic), rating: @rating_presenter.user_rating) %>
      </article>
    </div>
  </div>
  <%= render Actions::ActionsComponent.new(resource: @comic, user: current_user) %>
</div>

<% if @comic.genres.any? %>
  <%= render SectionComponent.new do %>
    <%= render "genres", genres: @comic.genres %>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render BorderComponent.new do %>
    <% if @comic.deck.present? %>
      <p class="font-bold text-xl mb-4"><%= @comic.deck %></p>
    <% end %>
    <div class="flex flex-col gap-2 resource-description">
      <%= safe_description(description: @comic.description).presence || "There is no description for this comic yet. Head over to ComicVine and add one!" %>
    </div>
  <% end %>
<% end %>

<%= render RatingSectionComponent.new(rating_presenter: @rating_presenter) %>

<% if user_signed_in? && @ordered_issues.any? %>
  <%= render SectionComponent.new do %>
    <%= render BorderComponent.new do %>
      <details>
        <summary class="font-bold text-xl cursor-pointer">Batch read issues</summary>
        <div class="mt-4">
          <p>If you've read a lot of issues for this comic, you can mark a range of them as read. Choose the issues you want to mark with the slider and click submit!</p>
          <p>Note: This sets all the read dates for issues to the time of submission.</p>
          <div data-controller="read-range"
              data-read-range-chapter-count-value="<%= @comic.count_of_issues %>"
              data-read-range-url-value="<%= read_range_comic_path(@comic) %>">
            <div data-read-range-target="slider" class="mb-8 mt-16 mx-6" id="slider-round"></div>
            <button data-read-range-target="submit" data-action="click->read-range#submit" class="font-bold rounded-full border-2 border-black inline-block py-1.5 px-3 bg-primary-light cursor-pointer hover:bg-primary transition duration-300 ease-in-out">
              Submit
            </button>
          </div>
        </div>
      </details>
    <% end %>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render ChipHeaderComponent.new(text: "Issues") %>
  <% if @ordered_issues.any? %>
    <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
      <% @ordered_issues.each do |issue| %>
        <%= render ResourceTileControlComponent.new(issue:, user: current_user) %>
      <% end %>
    </div>
  <% else %>
    <div>No issues have been released yet!</div>
  <% end %>

  <%= will_paginate @ordered_issues, previous_label: "« Prev", next_label: "Next »", inner_window: 1, outer_window: 0 %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render FullWidthComponent.new do %>
    <%= render ChipHeaderComponent.new(text: "Trend") %>
    <div class="mt-4">
      <div class="mt-4" data-controller="chart" data-chart-data-value="<%= @chart_data.to_json %>">
        <canvas data-chart-target="canvas" class="w-full h-96"></canvas>
      </div>
    </div>
  <% end %>
<% end %>
