<%= render SectionComponent.new do %>
  <div class="rounded-sm bg-cover bg-no-repeat" style="background-image: url('<%= @comic.image %>');">
    <div class="flex flex-col gap-4 p-[3rem] bg-black/60 backdrop-blur-md">
      <%= render PageTitleComponent.new(text: @comic.name) %>
      <p class="text-lg text-white"><b class="text-white">Start year:</b> <%= @comic.start_year %></p>
      <p class="text-lg text-white"><b class="text-white">Publisher:</b> <%= @comic.publisher %></p>
      <p class="text-lg text-white"><b class="text-white">Issue count:</b> <%= @comic.count_of_issues %></p>
      <a href="<%= @comic.site_detail_url %>" class="flex font-bold w-max rounded-md text-xs bg-[#231f20] py-2 px-3" target="_blank" rel="noopener noreferrer">
        <p class="text-[#29cc82]">Comic</p><p class="text-[#f9e150]">Vine</p>
      </a>
    </div>
  </div>
  <%= render Actions::ActionsComponent.new(resource: @comic, user: current_user) %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render BorderComponent.new do %>
    <% if @comic.deck.present? %>
      <p class="font-bold text-xl mb-4"><%= @comic.deck %></p>
    <% end %>
    <div class="flex flex-col gap-2 resource-description">
      <%= safe_description(description: @comic.description) %>
    </div>
  <% end %>
<% end %>

<%= render SectionComponent.new do %>
  <%= render ChipHeaderComponent.new(text: "Issues") %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-4">
    <% @ordered_issues.each do |issue| %>
      <%= render ResourceTileControlComponent.new(issue:, user: current_user, read_at: nil) %>
    <% end %>
  </div>
  <%= paginate @ordered_issues %>
<% end %>
