<p style="color: green"><%= notice %></p>

<%= render @comic %>

<div>
  <%= link_to "Edit this comic", edit_comic_path(@comic) %> |
  <%= link_to "Back to comics", comics_path %>

  <%= button_to "Destroy this comic", @comic, method: :delete %>
</div>
