<div class="my-6">
  <%= render GradientBorderComponent.new do %>
    <div class="flex flex-col items-center gap-4">
      <img src="<%= current_user.avatar %>" class="h-20 w-20 rounded-full border-[5px] border-black" />
      <h1 class="text-2xl font-bold"><%= current_user.username %></h1>
    </div>
  <% end %>
</div>

<div class="my-6">
  <%= render ChipHeaderComponent.new(text: "Up next") %>
  <%= render GradientBorderComponent.new do %>
    <div class="flex flex-col items-center gap-4">
      Up next coming soon
    </div>
  <% end %>
</div>

<div class="my-6">
  <%= render ChipHeaderComponent.new(text: "Your history") %>
  <div class="grid grid-cols-2  md:grid-cols-3 lg:grid-cols-6 gap-4">
    <% @issue_history.each do |issue_history| %>
      <%= render HistoryItemComponent.new(issue: issue_history.issue, user: current_user, read_at: issue_history.read_at) %>
    <% end %>
  </div>
</div>
