<div class="my-6">
  <%= render GradientBorderComponent.new do %>
    <div class="flex flex-col items-center gap-4">
      <!-- TODO: Remove hardcoded value -->
      <img src="https://github.com/crxssed7.png" class="h-20 w-20 rounded-full border-[5px] border-black" />
      <h1 class="text-2xl font-bold"><%= current_user.email %></h1>
    </div>
  <% end %>
</div>

<div class="my-6">
  <%= render ChipHeaderComponent.new(text: "Up next") %>
  <%= render GradientBorderComponent.new do %>
    <div class="flex flex-col items-center gap-4">
      Up next coming soon
    </div>
  <% end %>
</div>

<div class="my-6">
  <%= render ChipHeaderComponent.new(text: "Your history") %>
  <%= render GradientBorderComponent.new do %>
    <div class="flex flex-col items-center gap-4">
      History coming soon
    </div>
  <% end %>
</div>
