<!DOCTYPE html>
<html>
  <head>
    <title>Kaboom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/f1da3ec963.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main class="pt-16 min-h-screen">
      <% if @header %>
        <div class="p-12 bg-gradient-to-r from-primary to-secondary">
          <h1 class="font-bold text-4xl text-center"><%= @header %></h1>
        </div>
      <% end %>
      <%= yield :custom_header %>
      <div class="mx-auto max-w-7xl px-4">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    </main>
    <footer class="bg-gradient-to-r from-primary to-secondary text-white text-sm mt-6">
      <div class=" mx-auto max-w-7xl p-4">
        <a href="https://github.com/kaboom-db/kaboom" class="text-hint underline">Kaboom</a>
        developed by <a href="https://github.com/crxssed7" class="text-hint underline">crxssed</a>
      </div>
    </footer>
  </body>
</html>
