<!DOCTYPE html>
<html>
  <head>
    <title>Kaboom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/f1da3ec963.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main class="pt-16 min-h-screen">
      <% if @header %>
        <div class="p-12 bg-gradient-to-r from-primary to-secondary">
          <h1 class="font-bold text-4xl text-center"><%= @header %></h1>
        </div>
      <% end %>
      <%= yield :custom_header %>
      <div class="mx-auto max-w-7xl px-4">
        <%= render "layouts/flash" %>
        <%= yield %>
        <dialog data-controller="dialog" data-action="click->dialog#click" data-dialog-target="dialog" id="importComic" class="open:flex open:p-0 open:bg-transparent open:flex-col open:gap-4 backdrop:backdrop-blur-sm">
          <%= render GradientBorderComponent.new do %>
            <h5 class="text-xl font-bold">Import a comic</h1>
            <%= form_tag(import_comics_path, method: "post", class: "my-4 flex flex-col gap-4") do |form| %>
              <%= render TextInputComponent.new(name: "comicvine_id", placeholder: "ComicVine ID") %>
              <small class="max-w-[400px] break-words">You can find the ComicVine ID at the end of the URL, e.g. <code class="p-1 bg-gray-200 rounded">http://comicvine.gamespot.com/&lt;name&gt;/4050-&lt;id&gt;/</code></small>

              <%= submit_tag "Import", class: "inline-block py-1.5 px-3 bg-primary rounded-md text-white border-2 border-primary hover:bg-secondary hover:text-primary cursor-pointer transition duration-300 ease-in-out" %>
            <% end %>
            <button onclick="importComic.close();" class="text-hint underline py-4">Cancel</button>
          <% end %>
        </dialog>
      </div>
      <div class="relative pointer-events-none">
        <div class="fixed right-5 bottom-5">
          <div class="flex flex-col gap-4 items-end" id="notifContainer"></div>
        </div>
      </div>
    </main>
    <footer class="bg-gradient-to-r from-primary to-secondary text-white text-sm mt-6">
      <div class=" mx-auto max-w-7xl p-4">
        <a href="https://github.com/kaboom-db/kaboom" class="text-hint underline">Kaboom</a>
        developed by <a href="https://github.com/crxssed7" class="text-hint underline">crxssed</a> ·
        <button onclick="importComic.showModal();" class="text-hint underline">Import</button>
      </div>
    </footer>
  </body>
</html>
