<!DOCTYPE html>
<html lang="en">
  <head class="dark">
    <title><%= (@metadata && @metadata.title.present?) ? "#{@metadata.title} - Kaboom" : "Kaboom" %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content="<%= @metadata&.description %>">
    <link rel="canonical" href="<%= request.original_url %>">

    <meta property="og:site_name" content="Kaboom">
    <meta property="og:title" content="<%= (@metadata && @metadata.title.present?) ? @metadata.title : "Kaboom" %>">
    <meta property="og:description" content="<%= @metadata&.description %>">
    <meta property="og:image" content="<%= @metadata&.image %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= (@metadata && @metadata.title.present?) ? @metadata.title : "Kaboom" %>">
    <meta name="twitter:description" content="<%= @metadata&.description %>">
    <meta name="twitter:image" content="<%= @metadata&.image %>">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <script src="https://kit.fontawesome.com/eb574cc0ee.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-[#fcf3e5] dark:bg-black transition duration-300 ease-in-out">
    <main class="min-h-screen grid content">
      <%= render "layouts/navbar" %>
      <div class="grid grid-cols-1 sm:grid-cols-5">
        <% main_cols = should_show_sidebar? ? "col-span-3" : "col-span-full" %>
        <div class="w-full <%= main_cols %>">
          <div class="min-h-screen ml-[1rem] sm:ml-[3rem] mt-[1rem] sm:mt-[3rem] mr-[1rem] sm:mr-[3rem]">
            <%= yield %>
            <dialog data-controller="dialog"
                    data-dialog-toggler-class-value="importComicBtn"
                    data-action="click->dialog#click"
                    data-dialog-target="dialog"
                    id="importComic"
                    class="open:flex open:p-0 open:bg-transparent open:flex-col open:gap-4 backdrop:backdrop-blur-sm">
              <div class="rounded-4xl border-2 border-black bg-gray-100 p-4">
                <h5 class="text-xl font-bold">Import a comic</h1>
                <%= form_tag(import_comics_path, method: "post", class: "my-4 flex flex-col gap-4") do |form| %>
                  <%= render TextInputComponent.new(name: "comicvine_id", placeholder: "ComicVine ID") %>
                  <small class="max-w-[400px] break-words">You can find the ComicVine ID at the end of the URL, e.g. <code class="p-1 bg-gray-200 rounded">http://comicvine.gamespot.com/&lt;name&gt;/4050-&lt;id&gt;/</code></small>

                  <div>
                    <input type="checkbox" name="nsfw" id="nsfw_import">
                    <label for="nsfw_import">Adult content</label>
                  </div>

                  <%= submit_tag "Import", class: "font-bold rounded-full border-2 border-black inline-block py-1.5 px-3 bg-primary-light cursor-pointer hover:bg-primary transition duration-300 ease-in-out" %>
                <% end %>
                <button onclick="importComic.close();" class="text-hint underline py-4">Cancel</button>
              </div>
            </dialog>
            <div class="relative pointer-events-none z-20">
              <div class="fixed right-5 bottom-5 ml-5">
                <div data-controller="messages" class="flex flex-col gap-4 items-end" id="notifContainer">
                  <%= render "layouts/flash" %>
                </div>
              </div>
            </div>
          </div>
          <footer class="hidden sm:block bg-secondary pl-[1rem] sm:pl-[3rem] text-sm py-6 border-t-2 border-black">
            <div class="mx-auto">
              <a href="https://github.com/kaboom-db/kaboom" class="text-hint underline">Kaboom</a>
              developed by <a href="https://github.com/crxssed7" class="text-hint underline">crxssed</a>   路
              <a href="<%= privacy_policy_path %>" class="text-hint underline">Privacy Policy</a> 路
              <button class="text-hint underline importComicBtn">Import</button>
            </div>
          </footer>
        </div>
        <% if should_show_sidebar? && current_user %>
          <%= render "shared/user_progress_sidebar" %>
        <% end %>
      </div>
    </main>
    <footer class="sm:hidden bg-secondary pl-[1rem] sm:pl-[3rem] text-sm pt-6 border-t-2 border-black pb-24 sm:pb-6">
      <div class="mx-auto">
        <a href="https://github.com/kaboom-db/kaboom" class="text-hint underline">Kaboom</a>
        developed by <a href="https://github.com/crxssed7" class="text-hint underline">crxssed</a> 路
        <a href="<%= privacy_policy_path %>" class="text-hint underline">Privacy Policy</a> 路
        <button class="text-hint underline importComicBtn">Import</button>
      </div>
    </footer>
  </body>
</html>
